<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
  <h1>Stock Tracker Deluxe!</h1>
  <div>
    <h3>Sign Up</h3>
    <form action="/signup" method="post">
      <input type="text" name="email" placeholder="Email" /><br />
      <input type="password" name="password" placeholder="Password" /><br />
      <button type="submit">Sign up!</button>
    </form>
  </div>
  <div>
    <h3>Login</h3>
    <form action="/login" method="post">
      <input type="text" name="email" placeholder="Email" /><br />
      <input type="password" name="password" placeholder="Password" /><br />
      <button type="submit">Login!</button>
    </form>
  </div>
  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
