<!DOCTYPE html>
<html dir="ltr" lang="en-US">
{{>head}}

<body class="container">
  <h1>Stock Prices!</h1>
  <form action="/logout" method="get">
    <button type="submit">Log Out</button>
  </form>
  <form action="/stocks" method="post">
    <input type="text" name="stockinput" placeholder="Stock Symbol" /><br />
    <button type="submit">Add New</button>
  </form>
  <ul>
    {{#stockinput}}
    <li>
      <form action="/deletestock" method="post">
        {{name}}
        ${{price}}
        <input type="hidden" name="stockdelete" value="{{name}}"/>
        <button type="submit">Delete</button>
      </form>
    </li>
    {{/stockinput}}
  </ul>
  <!-- Turbo library imports: jQuery, Turbo CDN, sample app.js.
  NOTE: These should be minified in a build script -->
  <script type="text/javascript" src="/js/jquery.js"></script>

  <!-- For file uploading. Remove if file upload not necessry -->
  <script type="text/javascript" src="/js/dropzone.js"></script> 

  <!-- Turbo CDN. Better to use CDN than to store locally. -->
  <script type="text/javascript" src="https://cdn.turbo360-dev.com/dist/turbo.min.js"></script>

  <!-- Your app specific code -->
  <script type="text/javascript" src="/js/app.js"></script>
</body>
</html>
